*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 35px;
}

th, td, tr {
    padding: 5px;
}

fieldset{
    margin: 35px;
}